.dom{
    width: 400px;
    height:400px;
    background-color: #a6a9b6;
    border: 10px #666360 solid;
    position: relative;
    
  }
  .kot{
    width: 200px;
    height:200px ;
    position: absolute;
  }
  .orange{
    
    background-color: #ff912e;
    bottom: 0;
  
  }
  .grey{
    background-color:#e4e4e4;
    right:0;
  
  }